footer{
    background: rgb(173, 224, 64);
    color: black;
    font-size: 0.75rem;
    padding: 0.6rem;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

small{
    font-family: inherit;
    font-size: 1rem;
}

.navbar, footer {
    width: 100;
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    *{
        max-width: 100%;
    box-sizing: border-box;
    }

    main,
  nav,
  footer {
    width: 100%;
    overflow-x: hidden;
  } 
  
    small{
        font-size: 1rem;
    }
    
    footer{
        width:100%
    }
}