body {
  margin: 0;
  background-image: url("water-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  backdrop-filter: blur(4px);
}

p {
  font-weight: 500;
}

#content,
#content-hp {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  padding: 3rem;
  max-width: 100%;
}

body.dark #content {
  background-color: rgb(68, 68, 68);
}

#hero {
  grid-column: 1 / -1;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
}

#content hr {
  border: none;
  border-top: 1px solid #000000;
  height: 0;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

.hero-section {
  font-size: 15rem;
}

@media (max-width: 768px) {
  #content {
    width: 100%;
  }
}
