:root{
    --bg: #f9f8f5;
    --text: #111827
}

body.dark{
    --bg: #181924;
    --text: #e5e7eb;
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

#page_theme img{
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    padding: 8px;
}

#page_theme li{
    list-style: none;
}

#theme-toggle{
    width: 35px;
  height: 38px;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0.35rem 0;
}

.toggle{
    flex-direction: row;
    display: flex;
    align-content: center;
    transition: transform 0.4s ease;
}

body.dark .toggle {
    transform: translateX(-40px);
  }

