.member-page {
  width: 100%;
  padding: 3rem 1rem 6rem;
  background-color: rgb(233, 219, 201);
  margin-bottom: 6rem;
  justify-self: center;
  grid-column: -1/1;
}

body.dark .member-page {
  background-color: #555;
}

.members {
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.member-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.member-scene {
  perspective: 1000px;
}

.member-info {
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;

  border-radius: 50%;
  border: 0.8rem solid #2b2929;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.member-info.flipped {
  transform: rotateY(180deg);
}

.member-info img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;

  backface-visibility: hidden;
}

#member-back {
  transform: rotateY(180deg);
}

#member-name {
  margin-top: 1.2rem;
  font-size: 2.2rem;
}

#quote {
  margin-top: 0.2rem;
  font-style: italic;
  color: #555;
  max-width: 26rem;
  font-size: 1.6rem;
}

#subsystem {
  max-width: 30rem;
  font-size: 1.2rem;
  color: black;
  margin-bottom: 0;
  font-size: 2rem;
  margin-top: 0;
}

body.dark #subsystem {
  color: white;
}

body.dark #quote {
  color: #ccc;
}

.member-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.member-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.member-buttons button.active {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .member-info {
    width: 120px;
    height: 120px;
    border-width: 1rem;
  }

  #member-name {
    font-size: 2.2rem;
  }

  #quote {
    font-size: 1.6rem;
    max-width: 90%;
  }

  .member-buttons button {
    width: 30px;
    height: 30px;
  }
}
