html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: visible;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  min-height: 100vh;
}

main {
  overflow-x: clip;
}

body {
  flex-shrink: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
  grid-auto-flow: dense;
  padding-top: 5.5rem;
}

#content-hp p {
  max-width: 77%;
  font-size: 1.3rem;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 3vh 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content-hp img {
  max-width: 30%;
  max-height: 80%;
  margin: 0 auto;
  gap: 1rem;
}

#content-hp figcaption {
  display: flex;
  text-align: center;
}

#content-hp h2,
h3,
h4,
h5 {
  font-family: "Saira Extra Condensed", sans-serif;
}

#content-hp h3,
h4,
h5 {
  font-weight: 500;
}

#content-hp {
  font-size: 1.3rem;
}

body.dark #content-hp {
  background-color: var(--bg);
}

body.dark #content-hp a {
  color: rgb(176, 218, 254);
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

#content img {
  max-width: 40%;
  left: 50%;
  padding: 0;
}

#content h3,
h4,
h5 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
}

.navbar {
  background-color: #003151;
  justify-content: center;
  align-items: flex-end;
  padding: 0rem 1rem;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  height: auto;
  overflow: visible;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  width: auto;
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto 1rem auto;
  overflow: visible;
}

.links li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}

.links a {
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
}

.ddown {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-family: inherit;
  cursor: pointer;
  padding: 0rem 1rem;
  font-size: 1.75rem;
}

.ddown a {
  text-decoration: none;
}

.ddown_content {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  background-color: #0262a2;
  list-style: none;
  text-align: left;
  display: none;
  flex-direction: column;
  padding: 0.5rem 0;
  z-index: 1000;
  overflow: hidden;
}

.ddown_content a {
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-decoration: none;
}

.ddown_content a:hover {
  background-color: #4c7fa1;
  text-decoration: none;
}

.links li:hover .ddown_content,
.links li:focus-within .ddown_content {
  display: flex;
}

.homepage img {
  height: 68px;
  width: 68px;
  padding-bottom: 0.75rem;
}

.contacts-list li {
  list-style: none;
  place-items: center;
  padding: 2rem;
}

.contacts-list li img {
  height: 100%;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  text-align: left;
}
#content h2 {
  font-family: "Saira Extra Condensed", sans-serif;
}

#content a {
  color: rgb(0, 35, 140);
}

body.dark #content a {
  color: rgb(176, 218, 254);
}

body.dark #content a {
  color: aliceblue;
}

#content a:hover,
#content-hp a:hover {
  color: grey;
}

.hamburger {
  display: none;
}

h2 {
  font-weight: 700;
}

.references {
  text-align: left;
}

.references li {
  font-weight: 300;
}

@media (max-width: 768px) {
  main {
    display: block;
    padding: 0 1rem;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .homepage img {
    height: 2rem;
    width: 2rem;
  }

  .links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem 0;
    display: none;
    flex-direction: column;
    z-index: 9999;
    background-color: #0262a2;
  }

  .links.active {
    display: flex !important;
  }

  .links,
  .links.active {
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
  }

  .links li {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px black;
  }

  .links,
  .links li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .links a {
    text-align: left;
  }

  .ddown {
    text-align: center;
  }

  .ddown_content {
    display: none;
    position: static;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
  }

  .ddown.open + .ddown_content {
    display: block;
    background-color: #4c7fa1;
  }

  .hamburger {
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
    z-index: 1001;
    padding: 0;
  }

  .hamburger span {
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
  }

  #content {
    width: 100%;
  }
}
