*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body{
    margin:0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: minmax(220px, 30%) 1fr;
    grid-auto-rows: auto;  
    column-gap: 2rem;
    row-gap: 0;         
    flex: 1;       
}

  

.navbar{
    background-color: rgb(173, 224, 64);
    justify-content: center;
    align-items: flex-end;
    padding: 0rem 1rem;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.links{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    width: auto;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto 1rem auto;
    overflow-x: hidden;
}

.links li{
    position: relative;
    width: auto;
}

.links a{
    color:black;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;
    width: 100%;
}

.ddown{
    background: none;
    border: none;
    color:black;
    font: inherit;
    cursor: pointer;
    padding: 0rem 1rem;
}

.ddown_content{
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background-color:  rgb(155, 194, 26);
    list-style: none;
    text-align: left;
    display: none;
    flex-direction: column;
    padding: 0.5rem 0;
    z-index: 1000;
    overflow: hidden;
}

.ddown_content a{
    display: block;
    padding: 0.5rem 1rem;
    color:black;
    white-space: nowrap;
    text-decoration: none;
}

.ddown_content a:hover{
    background-color:  rgb(146, 180, 65);
    text-decoration: none;
}

.links li:hover .ddown_content, 
.links li:focus-within .ddown_content{
    display: flex;
}

.homepage img{
    height: 28px;
    width: 28px;
    padding-bottom: 0.75rem;
}

#content{
    display: flex;
    flex-direction: column;              
    text-align: center;
    background-color: antiquewhite;
}

.hamburger {
    display: none;
}




@media (max-width: 768px) {
    main {
        display: block;
        padding: 0 1rem;
    }

    body{
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        position: relative;
    }

    .links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        display: none;
        flex-direction: column;
        z-index: 999;
        background-color:  rgb(173, 224, 64);
    }

    .links.active {
        display: flex;
    }

    .links, .links.active {
         width: 100%; 
        max-width: 100%;
        left: 0;
        right: 0;
    }

    .links li{
        position:relative;
        width: 100%; 
        padding: 0.5rem;
        border-bottom: 1px black;
    }

    .links a{
        text-align: left;
    }

    .ddown {
        text-align: center;
    }

    .ddown_content {
        display: none; 
        position: static;
        width: 100%; 
        box-sizing: border-box;
    }

    .ddown.open + .ddown_content {
        display: block;
        background-color:  rgb(173, 224, 64);
    }

    .hamburger {
    display: flex;
    border: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background-color:  rgb(173, 224, 64);
    }

    .hamburger span {
    width: 25px;
    height: 3px;
    background: black;
    display: block;
    }
    
    .links li:hover .ddown_content,
  .links li:focus-within .ddown_content {
    display: none;
  }

  #content {
    width: 100%;
  }

}