* {
  font-family: inherit;
  font-weight: 200;
}

.aside {
  padding: 1rem;
  background: transparent;
  color: var(--text);
  padding-top: 0;
  border-radius: 14px;
  position: sticky;
  top: 8rem;
  height: 60vh;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.762);
  border-radius: 8px;
}

.aside li {
  padding: 0.2rem;
}

.aside li a {
  color: rgb(0, 0, 0);
  text-transform: none;
  display: flex;
  transform-origin: left;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.6rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.aside li a.active {
  transform: scale(1.26);
}

.aside li a:hover {
  transform: scale(1.1);
}

:root {
  --bg: rgba(240, 248, 255, 0.9);
  --text: #111;
}

body.dark {
  --bg: rgba(30, 30, 30, 0.85);
  --text: #f5f5f5;
}

@media (max-width: 767px) {
  .aside {
    display: none;
  }
}
