*{
    font-family: inherit;
    font-weight: 200;
}

aside {
    padding: 1rem;
    background: transparent;
    color: var(--text);
  
    border-radius: 14px;
  
    position: sticky;
    top: 1rem;
  
    width:fit-content;
    align-self: start;
  }
  

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}



aside li {
    padding: 0.2rem;
}

aside li a {
    color: aliceblue;
    text-transform: none;
    display: flex; 
    transform-origin: left;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    margin-left: 1rem;
}

aside li a.active {
    font-weight: 100;
    transform: scale(1.08);
}

:root {
    --bg: rgba(240, 248, 255, 0.9);
    --text: #111;
  }
  
  body.dark {
    --bg: rgba(30, 30, 30, 0.85);
    --text: #f5f5f5;
  }
  


@media (max-width: 767px) {
    aside {
        display: none;
    }
}
